<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kloud 9 Official</title>
  </head>
  <body>
    {{> header}}
    <p>{{welcome welcomeMSG}}</p>
    {{> footer}}
  </body>
</html>
